./server/node_modules
/node_modules
# No node modules pls UwU
server/node_modules

.env
server/.env
# No need for logs and secrets keys OwO
server/container_logs/nginx/*
server/container_logs/nginx/access.log
server/container_logs/nginx/error.log
server/secrets/nginx-selfsigned.crt
server/secrets/nginx-selfsigned.key
/server/privkey.pem

server/dist

/coverage
/server/coverage