{{!-- {{ Ist für die Routen,dann müsste man im Backend weitere Routen machen z.b "/cats/, dann cats brahnent }} --}}
<h2 class="title is-2">Mei</h2>
<p>Nginx with SSL and Docker</p>
<p>Iykyk chinese spyware</p>
<p>App in development, Malte will change it.</p>
<p>CAP</p>
<img src="img/lickingCat.webp" alt="Cat">